<h1>One Hot Encoding</h1>

In this notebook, i will use get_dummies from Pandas library to convert categorical variable into dummy/indicator variables. Also, i will use Pickle to save the encoding (and simulate a production situation)

In [11]:
import pickle
import pandas as pd

<h3>Dataset creation</h3>

In [18]:
data = pd.DataFrame({"smartphone":["LG", "Apple", "Sony"], "cost":[100,500,200], "colour":["black", "white", "silver"]})

In [19]:
data

  smartphone  cost  colour
0         LG   100   black
1      Apple   500   white
2       Sony   200  silver

<h3>Executing get_dummies</h3>

In [28]:
data_ohe = pd.get_dummies(data, dummy_na = True)

In [29]:
data_ohe

,cost,smartphone_Apple,smartphone_LG,smartphone_Sony,smartphone_nan,colour_black,colour_silver,colour_white,colour_nan
0,100,0,1,0,0,1,0,0,0
1,500,1,0,0,0,0,0,1,0
2,200,0,0,1,0,0,1,0,0

<h3>Saving the encoding</h3>

In [30]:
with open('data_ohe.pickle', 'wb') as handle:
    pickle.dump(data_ohe.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)

<h3>Simulating a new dataset</h3>

In [31]:
d_ts = pd.DataFrame({"smartphone":["LG", "Nokia"], "cost":[100,150], "colour":["black", "gold"]})

There are new data here, Nokia gold

In [32]:
d_ts

  smartphone  cost colour
0         LG   100  black
1      Nokia   150   gold

<h3>Loading the encoding</h3>

In [33]:
with open('data_ohe.pickle', 'rb') as handle:
    data_ohe_load = pickle.load(handle)

In [34]:
data_ohe_load

Index(['cost', 'smartphone_Apple', 'smartphone_LG', 'smartphone_Sony',
       'smartphone_nan', 'colour_black', 'colour_silver', 'colour_white',
       'colour_nan'],
      dtype='object')

<h3>Applying get_dummies to the test set</h3>

In [35]:
pd.get_dummies(d_ts).reindex(columns = data_ohe_load, fill_value=0)

,cost,smartphone_Apple,smartphone_LG,smartphone_Sony,smartphone_nan,colour_black,colour_silver,colour_white,colour_nan
0,100,0,1,0,0,1,0,0,0
1,150,0,0,0,0,0,0,0,0